<!DOCTYPE html>
<html lang="es-en">

<head>
    <meta charset="UTF-8">
    <title>Findany</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/png" href="img/f.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <div class="header-logo">
                <img src="img/findanylogo.svg" alt="logo" class="imagen-logo">
            </div>
            <div class="header-searchbar">
            </div>
            <div class="header-join">
                <a href="login.html">
                    <input type="button" value="ÚNETE" class="header-button"></a>
            </div>
        </header>

        <div class="banner">
            <!--Imagen de fondo-->
            <img id="slide" src="img/2.png" alt="fondo" class="imagen-lulu">
            <img src="img/banner (2).png" alt="fondo" class="imagen-fondo">
        </div>

        <div class="main">
            <div class="main-ad">
                <div class="arriba">
                    <h2>ANÚNCIATE CON FINDANY</h2>
                </div>
                <div class="centro">
                    <h3>Haz tu negocio notar registrándote con nosotros para que las personas puedan buscar y
                        encontrarte con facilidad.</h3>
                </div>
            </div>
            <div class="main-video">
                <video src="img/anuncio.mp4" width="450" height="400" autoplay muted loop></video>
            </div>
            <div class="main-information">
                <p class="main-information-title">¡Bienvenido a Findany!</p>
                <hr class="main-information-separator">
                <p>Somos una plataforma de redes sociales diseñada para conectar personas y negocios de manera fácil y
                    rápida. Nuestro objetivo es ayudarte a encontrar lo que necesitas y promover tu negocio en línea.
                </p>
                <p>Explora nuestra comunidad, descubre nuevas oportunidades y mantente conectado con amigos, familiares
                    y clientes. Únete a nosotros hoy mismo y sé parte de la experiencia Findany.</p>
            </div>
        </div>

        <footer>
            <div class="footer-contacto">
                <h3 class="contacto">CONTACTO</h3>
                <ul class="contacto-lista">
                    <li><img src="img/casa.png"> 644-220-9588</li>
                    <li><img src="img/celular.png"> 644-460-9376</li>
                    <li><img src="img/correo.png"> duran.esteban.cbtis37@gmail.com</li>
                </ul>
            </div>
        </footer>
    </div>
</body>

<script src="slide-lulu.js"></script>

</html>