<!DOCTYPE html>
<html lang="es-en">

<head>
    <meta charset="UTF-8">
    <title>Findany | Registar</title>
    <link rel="stylesheet" href="register.css">
    <link rel="icon" type="image/png" href="img/f.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <div class="header-logo">
                <img src="img/findanylogo.svg" alt="logo" class="imagen-logo">
            </div>
        </header>

        <div class="main">
            <div class="main-register">
                <h3>Crea una cuenta</h3>
                <hr>
                <form action="crearCuenta.jsp" method="POST">
                    <div class="main-form-group">
                        <label>Nombre completo*
                            <input type="text" name="nombre" placeholder="Ingrese su nombre completo" required>
                        </label>
                    </div>
                    <div class="main-form-group">
                        <label>Correo*
                            <input type="email" name="correo" placeholder="Ingrese su correo electrónico" required>
                        </label>
                    </div>
                    <div class="main-form-group">
                        <label>Telefono*
                            <input type="tel" name="tel" placeholder="Ingrese su telefono" required>
                        </label>
                    </div>
                    <div class="main-form-group">
                        <label>Contraseña*
                            <input type="password" name="pass" placeholder="Ingrese su contraseña" required>
                        </label>
                    </div>
                    <div class="main-form-group">
                        <div class="form-genero">
                            <label>Género:</label>
                            <div class="radio-container">
                                <label for="masculino"><input type="radio" name="genero" value="masculino"
                                        id="masculino">Masculino</label>
                                <label for="femenino"><input type="radio" name="genero" value="femenino"
                                        id="femenino">Femenino</label>
                            </div>
                        </div>
                    </div>
                    <div class="main-form-group">
                        <div class="main-form-location">
                            <label>Ciudad*
                                <input type="text" name="ciudad" placeholder="Ingrese su ciudad" required>
                            </label>
                            <label>Municipio*
                                <input type="text" name="municipio" placeholder="Ingrese su municipio" required>
                            </label>
                            <label>Estado*
                                <input type="text" name="estado" placeholder="Ingrese su estado" required>
                            </label>
                        </div>
                    </div>
                    <div class="main-form-group">
                        <label>Fecha de cumpleaños*
                            <input type="date" name="fechaNacimiento" placeholder="Ingrese su fecha de nacimiento"
                                required>
                        </label>
                    </div>
                    <div class="main-form-group">
                        <div class="form-fotoPerfil">
                            <label for="seleccionarArchivo">Subir foto de perfil</label>
                            <input type="file" id="seleccionarArchivo">
                        </div>
                    </div>
                    <button type="submit" class="form-login-button">Crea mi cuenta</button>
                </form>
            </div>

            <div class="main-login">
                <h3>Iniciar sesión</h3>
                <hr>
                <p>¿Ya tienes una cuenta? <a href="login.html" title="Inicia sesión aqui">Inicia sesión aquí</a></p>
            </div>
        </div>

        <footer>
            <div class="footer-contacto">
                <h3 class="contacto">CONTACTO</h3>
                <ul class="contacto-lista">
                    <li><img src="img/casa.png"> 644-220-9588</li>
                    <hr class="footer-contacto-separator">
                    <li><img src="img/celular.png"> 644-460-9376</li>
                    <hr class="footer-contacto-separator">
                    <li><img src="img/correo.png"> duran.esteban.cbtis37@gmail.com</li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>